html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v14-latin-regular.woff2") format("woff2"), url("../fonts/jost-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/jost-v14-latin-600.woff2") format("woff2"), url("../fonts/jost-v14-latin-600.woff") format("woff");
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jost-v14-latin-700.woff2") format("woff2"), url("../fonts/jost-v14-latin-700.woff") format("woff");
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  vertical-align: middle;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 20x;
  padding-right: 20px;
  margin-right: auto;
  margin: 0 auto;
}

.dashbord {
  background: #F2F2F2;
  height: 100vh;
}

.dashbord__left {
  margin-top: 94px;
}

.left__item-top {
  width: 255px;
  height: 137px;
  padding: 62px 77px 24px 24px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  border-radius: 10px;
}

.mentor__title {
  font-family: "Jost";
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}

.mentor__text {
  font-family: "Jost";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-bottom: 24px;
}

.left__item-middle {
  width: 255px;
  height: 166px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 24px;
}

.all__ux {
  padding: 24px 50px 24px 24px;
}

.all__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.all__item {
  margin-bottom: 14px;
  padding: 5px 16px;
  background: #F2F4FF;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #4661E6;
  margin-left: 10px;
  cursor: pointer;
}

.all__item:active {
  background: #4661E6;
  color: #F2F4FF;
}

.all__item:hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #4661E6;
}

.left__item-button {
  width: 255px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 19px 24px 24px 24px;
  margin-top: 24px;
}

.roadmap__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__title {
  font-family: "Jost";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #3A4374;
}

.roadmap__link {
  font-family: "Jost";
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4661E6;
}

.roadmap__button-main {
  margin-top: 24px;
}

.planed__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planed__text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #647196;
}

.planed__text::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #F49F85;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
}

.planed__number {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #647196;
}
/*# sourceMappingURL=main.css.map */