  // Media so'rovlar uchun mixin
  
  @mixin breakpoint-down ($screen-width) {
    @media only screen and (max-width: $screen-width) {
      @content;
    }
  }
  
  @mixin breakpoint-up ($screen-width) {
    @media only screen and (min-width: $screen-width) {
      @content;
    }
  }
  
  @mixin breakpoint-between ($min-screen, $max-screen) {
    @media only screen and (min-width: $min-screen) and (max-width: $max-screen) {
      @content;
    }
  }

  @mixin button1{
    padding: 13px 0px 11px 0px;
    font-family: $jost;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #F2F4FE;
    background: #AD1FEA;
    border-radius: 10px;
    transition: all 0.1s ease;
  
    &:hover {
       background-color: #C75AF6;
       color: #F2F4FE;
    }
  }

  @mixin button2{
    padding: 13px 0px 11px 0px;
    font-family: $jost;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #F2F4FE;
    background: #4661E6;
    border-radius: 10px;
    transition: all 0.1s ease;

  
    &:hover {
       background-color: #7C91F9;
       color: #F2F4FE;
  }
  }
  
  @mixin button3{
    padding: 13px 0px 11px 0px;
    font-family: $jost;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #F2F4FE;
    background: #3A4374;
    border-radius: 10px;
    transition: all 0.1s ease;

  
    &:hover {
       background-color: #656EA3;
       color: #F2F4FE;
  }
  }

  @mixin button4{
    padding: 13px 0px 11px 0px;
    font-family: $jost;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #F2F4FE;
    background: #D73737;
    border-radius: 10px;
    transition: all 0.1s ease;

  
    &:hover {
       background-color: #E98888;
       color: #F2F4FE;
  }
  }

  