.dashbord {
    background: #F2F2F2;
    padding-bottom: 129px;
}
.dashbord__main {
    display: flex;
    justify-content: space-between;
 
}

.dashbord__left {
    margin-top: 94px;
}
.left__list {
}
.left__item-top {
    width: 255px;
    height: 137px;
    padding: 62px 77px 24px 24px;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 10px;
}
.mentor__title {
    font-family: $jost;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}
.mentor__text {
    font-family: $jost;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 24px;
}
.left__item-middle {
    width: 255px;
    height: 166px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 24px;
}
.all__ux {
    padding: 24px 50px 24px 24px;
}
.all__list {
    display: flex;
    flex-wrap: wrap;
}

.all__item {
    margin-bottom: 14px;
    padding: 5px 16px;
    background: #F2F4FF;
    border-radius: 10px; 
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
    margin-left: 10px;
    cursor: pointer;
}
.all__item:active{
    background: #4661E6;
    color: #F2F4FF;
  
}
.all__item:hover{
    cursor: pointer;
    color: #FFFFFF;
    background: #4661E6;
}


.left__item-button {
    width: 255px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 19px 24px 24px 24px;
    margin-top: 24px;
}
.roadmap__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top__title {
    font-family: $jost;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}
.roadmap__link {
    font-family: $jost;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #4661E6;
}
.roadmap__button-main {
    margin-top: 24px;
}
.planed__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.planed__text {
    font-family: $jost;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #647196;
}
.planed__text::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $orange;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-16px);
}

.planed__number {
    font-family: $jost;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: right;
    color: #647196;
}
// -------------------left-end-------------------
.dashbord__right {
    margin-top: 94px;
}
.home__nav {
    background: #373F68;
    border-radius: 10px;
    width: 825px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home__nav-suggest {
    margin-left: 24px;
}

.home__sort {

}
.sort__title {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F2F4FE;
}
.home__feedback-link {
    font-family: $jost;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #F2F4FE;
    text-decoration: none;
    background: #AD1FEA;
    border-radius: 10px;
    padding: 13px 25px;
    margin-right: 16px;
    cursor: pointer;
}
.home__feedback {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 32px ;
    margin-top: 24px;
}
.feedback__info {
    margin-left: 40px;
    margin-right: 263px;
}
.info__title {
    font-family: $jost;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
    margin-bottom: 4px;
}
.info__text {
    font-family: $jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #647196;
    margin-bottom: 12px;
}
.info__link {
    font-family: $jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4661E6;
    background: #F2F4FF;
    border-radius: 10px;
    padding: 5px 16px;
    text-decoration: none;
  
}
.feedback__number {
    background: #F2F4FE;
    border-radius: 10px;
    width: 40px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback__number:hover {
    background: #CFD7FF;
    border-radius: 10px;
}
.unvoted {

}
.unvoted__arrow::before {
    content: "";
    display: inline-block;
    background-image: url(./../../img/arrow.svg);
    color: rgba(70, 97, 230, 1);
    width: 10px;
    height: 8px;
    transform: translateX(8px);    
}
.unvoted__number {

}
.feedback__chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat__pic {

}
.chat__number {
    margin-left: 8px;
}

@media only screen and (max-width:768px){
    .dashbord__main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left__list{
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: 39px;
    }
    .left__item-top,.left__item-middle,.left__item-button{
        width: 223px;
        height: 178px;
    }
    .left__item-top{
        margin-top: 25px;
    }

    .home__nav{
        max-width: 689px;
        width: 100%;
        margin-left: 39px;
    }
  
    .home__feedback{
        max-width: 689px;
        width: 100%;
        margin-left: 39px;
    }
}

@media only screen and (max-width:375px){

    .left__item-middle,.left__item-button{
        display: none;
    }
    .left__item-top{
        width: 375px;
    }
    .home__nav-suggest{
        display: none;
    }

    .left__list{
        width: 375px;
        margin-left: 60px;
        
    }
    .home__nav{
        width: 375px;
        border-radius: none;
    }
   
    .home__feedback{
        max-width: 327px;
        height: 200px;
        margin-right: 48px;
    }
    .home__sort{
        margin-left: 24px;
    }
    .home__feedback-link{
        margin-right: 24px;
    }


   // feedback responsives -------->>>>>>>>>>>>>>--------->>>>>>>>>>>------------------>>>>>>>>>>>>>-------------------->>>>>>>>>


   
    
}
